<p id="notice"><%= notice %></p>

<p>
  <strong>State:</strong>
  <%= @connection.state %>
</p>

<p>
  <strong>Incoming url:</strong>
  <%= @connection.incoming_url %>
</p>

<p>
  <strong>Incoming phone num:</strong>
  <%= @connection.incoming_phone_num %>
</p>

<p>
  <strong>Incoming caller:</strong>
  <%= @connection.incoming_caller_id %>
</p>

<%= link_to 'Edit', edit_connection_path(@connection) %> |
<%= link_to 'Back', connections_path %>
