<div class="header">
  <h1>Simulator</h1>
  <% if !@con.nil? %>
    <p><b>Current Connection State: </b><%= @con.state %></p>
  <% else %>
    <p><b>Current Connection State: </b>CLOSED</p>
  <% end %>
</div>
<div class="ui-container">
  <div class="phone-container">
    <h4>External Phone</h4>
      <table>
        <tr>
          <td>
            <%= link_to '1',send_digit_connection_path(@con.id, :digit => 1), method: :post, :class=>"btn btn-default" %>
          </td>
          <td>
            <%= link_to '2',send_digit_connection_path(@con.id, :digit => 2), method: :post, :class=>"btn btn-default" %>
          </td>
          <td>
            <%= link_to '3',send_digit_connection_path(@con.id, :digit => 3), method: :post, :class=>"btn btn-default" %>
          </td>
        </tr>
        <tr>
          <td>
            <%= link_to '4',send_digit_connection_path(@con.id, :digit => 4), method: :post, :class=>"btn btn-default" %>
          </td>
          <td>
            <%= link_to '5',send_digit_connection_path(@con.id, :digit => 5), method: :post, :class=>"btn btn-default" %>
          </td>
          <td>
            <%= link_to '6',send_digit_connection_path(@con.id, :digit => 6), method: :post, :class=>"btn btn-default" %>
          </td>    
        </tr>
        <tr>
          <td>
            <%= link_to '7',send_digit_connection_path(@con.id, :digit => 7), method: :post, :class=>"btn btn-default" %>
          </td>
          <td>
            <%= link_to '8',send_digit_connection_path(@con.id, :digit => 8), method: :post, :class=>"btn btn-default" %>
          </td>
          <td>
            <%= link_to '9',send_digit_connection_path(@con.id, :digit => 9), method: :post, :class=>"btn btn-default" %>
          </td>
        </tr>
        <tr>
          <td></td>
          <td>
            <%= link_to '0',send_digit_connection_path(@con.id, :digit => 0), method: :post, :class=>"btn btn-default" %>
          </td>
          <td></td>
        </tr>
      </table>

      <% if @con.nil? %>
        <%= link_to 'Start Call', new_connection_path, :class=>"btn btn-default" %>
      <% end %>
      
      <% if !@con.nil? %>
        <%= link_to 'Send Digit',send_digit_connection_path(@con.id), :class=>"btn btn-default" %>
        <%= link_to 'Hang Up',
        connection_path(@con.id, :connection => { :state => :closed }), :method => :put, :class=> "btn btn-default" %>
      <% end %>
      <%= link_to 'Record Voicemail', new_voicemail_path, :class=>"btn btn-default" %>

    </div>
  <div class="system-container">
    <h4>Telephony Interface</h4>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Log</th>
          <th>Time</th>
        </tr>
      </thead>
      <tbody>
        <% @logs.first(10).each do |log| %>
          <tr>
            <td><%= log.description %></td>
            <td><%= log.created_at %></td>
          </tr>
        <%end%>
      </tbody>
    </table>
  </div>
  <div class="answering-machine-container">
    <h4>Answering Machine</h4>
    <%= link_to "Listen to Voicemails", voicemails_path, :class => "btn btn-default" %>
    <%= link_to "Hang Up", connection_path(@con.id, :connection => { :state => :closed }), :method => :put, :class => "btn btn-default" %>
  </div>
</div>


