<div class="header">
  <h1>Simulator</h1>
  <% if !@con.nil? %>
    <p><b>Current Connection State: </b><%= @con.state %></p>
  <% else %>
    <p><b>Current Connection State: </b>CLOSED</p>
  <% end %>
</div>
<div class="ui-container">
  <div class="phone-container">
    <h4>External Phone</h4>
      <div class="row1">
        <div class="col-md-12">
          <input type="tel" name="name" id="telNumber" class="form-control tel" value="" />
            <div class="num-pad">
              <div class="span4">
                <div class="num">
                  <div class="txt">
                    1
                  </div>
                </div>
              </div>
              <div class="span4">
                <div class="num">
                  <div class="txt">
                    2
                  </div>
                </div>
              </div>
              <div class="span4">
                <div class="num">
                  <div class="txt">
                    3
                  </div>
                </div>
              </div>
              <div class="span4">
                <div class="num">
                  <div class="txt">
                    4 
                  </div>
                </div>
              </div>
              <div class="span4">
                <div class="num">
                  <div class="txt">
                    5 
                  </div>
                </div>
              </div>
              <div class="span4">
                <div class="num">
                  <div class="txt">
                    6 
                  </div>
                </div>
              </div>
              <div class="span4">
                <div class="num">
                  <div class="txt">
                    7 
                  </div>
                </div>
              </div>
              <div class="span4">
                <div class="num">
                  <div class="txt">
                    8 
                   </div>
                </div>
              </div>
              <div class="span4">
                <div class="num">
                  <div class="txt">
                    9
                  </div>
                </div>
              </div>
              <div class="span4">
                <div class="num">
                  <div class="txt">
                    *
                  </div>
                </div>
              </div>
              <div class="span4">
                <div class="num">
                  <div class="txt">
                    0
                  </div>
                </div>
              </div>
              <div class="span4">
                <div class="num">
                  <div class="txt">
                    #
                  </div>
                </div>
              </div>
            </div>          
          </div>
        </div>
      <script type="text/javascript">
        $(document).ready(function () {
          $('.num').click(function () {
          var num = $(this);
          var text = $.trim(num.find('.txt').clone().children().remove().end().text());
          var telNumber = $('#telNumber');
          $(telNumber).val(telNumber.val() + text);
          });

        });
      </script>

      <style type="text/css">
        body {
          margin: 0;
          padding: 0;
          color: #333;
          -webkit-font-smoothing: antialiased;
          -webkit-text-size-adjust: none;
        }
        { 
          margin: 0;
          padding: 0 0 10px 0;
          line-height: 20px;
        }
        .span4
        {
          width: 80px;
          float: left;
          margin: 0 8px 10px 8px;
        }
        .phone
        {
          margin-top: 15px;
          background: #fff;
        }
        .tel
        {
          margin-bottom: 10px;
          margin-top: 10px;
          border: 1px solid #9e9e9e;
          border-radius: 0px;
        }
        .num-pad
        {
          padding-left: 15px;
        }
        .num
        {
          border: 1px solid #9e9e9e;
          -webkit-border-radius: 10px;
          height: 80px;
          background-color: #fff;
          color: #333;
          cursor: pointer;
        }
        .num:hover
        {
          background-color: #9e9e9e;
          color: #fff;
          transition-property: background-color .2s linear 0s;
          -moz-transition: background-color .2s linear 0s;
          -webkit-transition: background-color .2s linear 0s;
          -o-transition: background-color .2s linear 0s;
        }
        .txt
        {
          font-size: 30px;
          text-align: center;
          margin-top: 15px;
          color: #333;
        }
        .small
        {
          font-size: 15px;
        }

        .btn
        {
          font-weight: bold;
          -webkit-transition: .1s ease-in background-color;
          -webkit-font-smoothing: antialiased;
          letter-spacing: 1px;
        }
        .btn:hover
        {
          transition-property: background-color .2s linear 0s;
          -moz-transition: background-color .2s linear 0s;
          -webkit-transition: background-color .2s linear 0s;
          -o-transition: background-color .2s linear 0s;
        }
        .spanicons
        {
          width: 72px;
          float: left;
          text-align: center;
          margin-top: 40px;
          color: #9e9e9e;
          font-size: 30px;
          cursor: pointer;
        }
        .spanicons:hover
        {
          color: #3498db;
          transition-property: color .2s linear 0s;
          -moz-transition: color .2s linear 0s;
          -webkit-transition: color .2s linear 0s;
          -o-transition: color .2s linear 0s;
        }
        .active
        {
          color: #3498db;
        }
      </style>

      <% if @con.nil? %>
        <%= link_to 'Start Call', new_connection_path, :class=>"btn btn-default" %>
      <% end %>
      
      <% if !@con.nil? %>
        <%= link_to 'Send Digit',send_digit_connection_path(@con.id), :class=>"btn btn-default" %>
        <%= link_to 'Hang Up',
        connection_path(@con.id, :connection => { :state => :closed }), :method => :put, :class=> "btn btn-default" %>
      <% end %>
      <%= link_to 'Record Voicemail', new_voicemail_path, :class=>"btn btn-default" %>

    </div>
  <div class="system-container">
    <h4>Telephony Interface</h4>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Log</th>
          <th>Time</th>
        </tr>
      </thead>
      <tbody>
        <% @logs.first(10).each do |log| %>
          <tr>
            <td><%= log.description %></td>
            <td><%= log.created_at %></td>
          </tr>
        <%end%>
      </tbody>
    </table>
  </div>
  <div class="answering-machine-container">
    <h4>Answering Machine</h4>
    <%= link_to "Listen to Voicemails", voicemails_path, :class => "btn btn-default"%>
  </div>
</div>


