<p id="notice"><%= notice %></p>

<p>
  <strong>Audio:</strong>
  <%= @voicemail.audio %>
</p>

<p>
  <strong>Connection:</strong>
  <%= @voicemail.connection_id %>
</p>

<p>
  <strong>Created at:</strong>
  <%= @voicemail.created_at %>
</p>

<p>
  <strong>Has been listened:</strong>
  <%= @voicemail.has_been_listened %>
</p>

<%= link_to 'Destroy', @voicemail, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Back', voicemails_path %>
